/* BEGIN EXTERNAL SOURCE */

        body {
            font-family: "Open Sans", sans-serif;
        }

        .logo {
            height: 40px; /* Set a reasonable default height */
            max-height: 100%; /* Ensure it doesn't exceed the navbar's height */
            width: auto; /* Maintain aspect ratio */
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
NAL SOURCE */
img {
height:30px;width:30px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
height:106px;width:106px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:60px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:60px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:60px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:50%
}
/* END EXTERNAL SOURCE */
